@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Signika+Negative:700&display=swap');


body {
/*  color: rgb(60, 60, 60);*/
/*  color: #1f1f1f;*/
  background-color: #f0e5d8;
}

.container {
  width: 500px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

img {
  width: 100px;
  border-radius: 50%;
}

h1 {
  font-family: 'Signika Negative', sans-serif;
  color: #350b40;
}

h2  {
  font-family: 'Signika Negative', sans-serif;
  font-size: 16px;
  color: #350b40;
  margin: 0;
}

h3 {
  font-family: 'Signika Negative', sans-serif;
  font-size: 12px;
  color: #350b40;
}

p {
  font-family: 'Fira Sans', sans-serif;
  color: #350b40;
}

.card > p {
  margin: 0;
  padding: 5px 0px 15px;
}

.btn {
  font-size: 10px;
  padding: 10px;
  border-radius: 5px;
  color: #f8f1f1;
  text-decoration: none;
  transition: 0.2s;
  box-shadow:  3px 3px 0px #94bfb8,
             -3px -3px 0px #b2e5dc;
}

.btn:hover {
  box-shadow:  -3px -3px 0px #94bfb8,
             3px 3px 0px #b2e5dc;
}

.text-center {
  text-align: center;
}

.card {
  padding: 20px;
  margin: 16px auto;
  border-radius: 8px;
  background: #a3d2ca;
  box-shadow: -7px -8px 0px #94bfb8, 8px 9px 0px #b2e5dc;
}

.table {
  display: table;
  margin: 0 auto;
}

ul#horizontal-list {
  list-style: none;
  padding: 5px;
  margin: 0;
  }

  ul#horizontal-list li {
    display: inline;
  }

  li > a {
    color: #351f39;
    font-size: 20px;
  }

/*.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}*/

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

